/.bundle/
/.yardoc
/_yardoc/
/docs
/coverage/
/pkg/
/spec/reports/
/spec/tmp/
/tmp/

# rspec failure tracking
.rspec_status
.byebug_history

**/.~lock*coverage
**/.DS_Store
spec/fixtures/*.mrk
.rubocop-https---raw-githubusercontent-com-kspurgin-code-quality-main-configurations-rubocop-standard-override-yml
.rubocop-https---raw-githubusercontent-com-kspurgin-code-quality-main-configurations-rubocop-standard-yml
