/.bundle/
/.yardoc
/_yardoc/
/docs
/coverage/
/pkg/
/.ruby-version
/spec/reports/
/spec/tmp/
/tmp/

# rspec failure tracking
.rspec_status
.byebug_history

**/.~lock*coverage
**/.DS_Store
spec/fixtures/*.mrk
.rubocop-https*
