-o docs
--readme README.md
--title 'Kiba-Extend Documentation'
--charset utf-8
--no-private
--markup markdown
--markup-provider redcarpet
-
LICENSE.txt
doc/file_registry_entry.md
doc/cli.md
doc/common_patterns_tips_tricks.md